@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

.font1 {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}

.font2 {
  font-family: "Sofia Sans", serif;

}

* {
  font-family: "Sofia Sans", serif;
}